@(list: Seq[model.DataFile], mpInfo: Option[model.DataFile], category: Option[Int])

@main("Choose File") {


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <ol class="list-unstyled">
                @for(f <- list) {
                    <li>
                        <a href="@routes.Application.showMp(f.niceName, category)">@f.niceName</a>
                    </li>
                }

                </ol>
            </div>

            <div class="col-md-5 data">
                @mpInfo.map(m => Html(m.mainText.outerHtml))
            </div>

            <div class="col-md-5 data">
            @for(info <- mpInfo) {
                <h2>@info.nameAndConstituency.forename @info.nameAndConstituency.surname</h2>
                <h3>@info.nameAndConstituency.constituency</h3>

                @for(category <- info.parsedCategories) {
                    <h3>category: @category.id - @category.name</h3>

                    @for(lineItem <- category.lineItems) {
                        <p>@lineItem.description</p>
                    }
                }
            }
            </div>

        </div>
    </div>

}
